.intro__list {
  color: #fff;
  font-size: 12px;
  font-family: "inter", Arial, sans-serif;
  font-weight: "inter-bold";
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
