@font-face {
  font-family: "inter-regular";
  src: url("./static/Inter-Regular.woff")
      format("woff"),
    url("./static/Inter-Regular.woff2")
      format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "inter-bold";
  src: url("./static/Inter-Bold.woff")
      format("woff"),
    url("./static/Inter-Bold.woff2")
      format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "inter-black";
  src: url("./static/Inter-Black.woff")
      format("woff"),
    url("./static/Inter-Black.woff2")
      format("woff2");
  font-weight: 900;
}
