.place__link {
  color: #fff;
  font-size: 18px;
  font-family: "inter", Arial, sans-serif;
  font-weight: "inter-regular";
  line-height: 22px;
  text-decoration-line: underline;
  margin: 0;
}

.place__link:hover {
  opacity: 0.8;
}
