.cover__title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-family: "inter-black";
  line-height: 76px;
  max-width: calc(100% - 624px);
  z-index: 1;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: calc(100% - 464px);
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: calc(100% - 208px);
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 36px;
    max-width: calc(100% - 32px);
    margin-bottom: 16px;
  }
}
