.place {
  display: grid;
  grid-template-columns: max(460px) 1fr;
  max-width: 100%;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: max(440px) 1fr;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    grid-template-columns: max(340px) 1fr;
  }
}

@media screen and (max-width: 610px) {
  .place {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin-bottom: 50px;
  }

  .place:last-child {
    margin-bottom: 66px;
  }
}
